*{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
body{
    background: #001e4d;
}
.app{
    background: #fff;
    width: 90%;
    max-width: 650px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}
.app h1{
    font-size: 25px;
    color: #001e4d;
    font-weight: 600;
    border-bottom: 1px solid #000;
    padding-bottom: 30px;
}
.quiz{
    padding: 20px 0;
}
.quiz h2{
    font-size: 18px;
    color: #001e4d;
    font-weight: 600;
    padding-bottom: 20px;
}
.btn{
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    text-align: left;
    cursor: pointer;
    transition: 0.25s;
}
.btn:hover:not([disabled]){
    background: #222;
    color: #fff;
}
.btn:disabled{
    cursor: no-drop;
}
#next-btn{
    background: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}
.correct{
    background: #5feb86;
}
.incorrect{
    background: #ef6060;
}
.start{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 90%;
    max-width: 650p;
    margin: 100px auto 0;
    padding: 30px;
}
.fresh{
    padding: 50px 100px 50px 100px;
    font-size: 50px;
    font-weight: 600;
    font-family: sans-serif;
    border: 2px;
    border-radius: 30px;
    background:  #000;
    color: #00ffd5;
    transition: .5s;
    animation: animate 1s infinite;
}
.fresh:hover{
    background: #00ffd5;
    color: #222;
    box-shadow: 0 0 5px, 0 0 25px, 0 0 100px, 0 0 500px;
    -webkit-box-reflect: below 1px liner-gradient(transparent, #0005);
}
a .fresh{
    
}
@keyframes animate {
    0% {
      border-color: transparent;
    }
    100% {
      border-color: #00ffd5; /* Match button text color */
    }
  }
